.planner--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 10px;
    width: fit-content;
    width: 100%;
}

.planner--list-main {
    width: 100%;
}